:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  gap: 24px;
  align-items: center;
}

img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.username-and-name {
  text-align: left;
  
}
