<img class="ml16 mb20" src="/assets/imgs/svg/logo-small.svg" alt="" />

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a
        [routerLink]="[menuItem.link]"
        class="menu-item"
        routerLinkActive="active"
      >
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (profile of subscribers$ | async; track profile.id) {
<app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a class="to-subscribers-link medium-text" [routerLink]="['/subscribers']"
    >Все подписчики</a
  >
  <svg class="to-subscribers-icon" icon="arrow"></svg>
</div>

<footer class="sidebar__footer">
  @if(me(); as me) { @if(me.avatarUrl) {
  <img [src]="me.avatarUrl | imgUrl" alt="" />
  } @else {
  <img src="/assets/imgs/avatar-placeholder.png" alt="" />
  }

  <div class="medium-text username-text">{{ me.username }}</div>

  <a [routerLink]="['/settings']" class="settings-btn">
    <svg icon="settings"></svg>
  </a>
  }
</footer>
