.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-settings-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.profile-page__body {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 350px;
}

.subscribers-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.subscriber-avatar-btn {
  width: 36px;
  height: 36px;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.to-subscribers-search {
  border-radius: 50%;
  background-color: var(--light-color);
  width: 16px;
  height: 16px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: var(--dark-color);
    top: 50%;
    left: 50%;
  }

  &::before {
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
